/*  forces an element's total width and height to include its padding and borders.
 This prevents padding or borders from increasing the element's actual visual size
  on your webpage, making layout calculations predictable and simple. */
* {
    box-sizing: border-box;
}
/* colors that will be used */
:root {
    --background-color: #1e1b4b;
    --text-color: #E05454;
    --accent-color: #C13383;
    --darkPurple: #04030c;
}

/* colors for body: background, text color */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    /* space */
    padding: 20px;

    /* making site minemum 100 Viewport Height */
    min-height: 100vh;

    /* makes header, main ,footer araiged vertically*/
    display: flex;
    flex-direction: column;
}

/* styling navigation bar. using flex, distance between links */
nav {
    display: flex;
    justify-content: center;
    gap: 50px;
}
nav a {
    color: var(--accent-color);
    /* removes underlines from links */
    text-decoration: none;
    font-size: 1.1rem;
}
nav a:hover {
    color: #00f5ff;
}


/* all headers should be in center*/
h1 {
    text-align: center;
}

/* gives header a background */
header {
    background-color: var(--darkPurple);
    padding: 20px;
    margin: -20px -20px 40px -20px;
}

/* making shure that mains content stays in readable place */
main {
    /*  Sets element width to 95% of its parent container. */
    width: 95%;
    /* main is automatically centered with having same distance from both sides */
    margin: 0 auto;
    /* stretch and take up any available extra space inside its parent container */
    flex-grow: 1;
}

/* add some distance between form elements and center them */
#search-form {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.form-section {
    text-align: center;
}
.result-section {
    text-align: center;
}

/* positioning footer in center */
footer {
    text-align: center;
    margin-top: 50px;
}


#games-container {
    /* turn container into grid layout */
    display: grid;
    /* minmax: Cards should never be smaller than 320px But may grow if there is more space */
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 25px;
    margin-top: 30px;
}
.game-card {
    background-color: var(--darkPurple);
    border: 5px solid var(--accent-color);
    /* Rounds corners */
    border-radius: 15px;
    /*images stay inside the card./they dont overflow */
    overflow: hidden;
    padding-bottom: 15px;
}
.game-card img {
    width: 100%;
    height: 180px;
    /* the image fills the area nicely */
    object-fit: cover;
}
/* center all card texts*/
.game-card h3,
.game-card p {
    text-align: center;
}
/* when hovering over card it moves up 5px, grows a bit and has a shadow */
.game-card:hover {
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 0 20px var(--accent-color);
}





/* Mobile phones */
@media (max-width: 600px) {
    nav {
        flex-direction: column;
        gap: 15px;
    }
    #search-form {
        flex-direction: column;
        align-items: center;
    }
    .game-card img {
        height: 150px;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    main {
        max-width: 1400px;
    }
    #games-container {
        grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
    }
}
